<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<div class="ui container">
    <div class="ui grid center aligned" style="margin-top: 20em">
        <div class="four wide column" id="index">
            <button class="ui button">首页</button>
        </div>
        <div class="four wide column"></div>
        <div class="four wide column" id="MyOrder">
            <button class="ui button">我的订单</button>
        </div>
    </div>
    <div class="ui grid center aligned">
        <div class="four wide column" ></div>
        <div class="four wide column">购物车</div>
        <div class="four wide column"><span style="color: red" th:if="${msg != null}" th:text="${msg}"></span></div>
    </div>
    <div class="ui grid center aligned">
        <div class="four wide column">商品名称</div>
        <div class="four wide column">价格</div>
        <div class="four wide column">购买数量</div>
    </div>
    <div class="ui grid center aligned" th:each="item : ${orderConfirmData.items}">
        <div class="four wide column">[[${item.skuName}]]</div>
        <div class="four wide column">[[${item.skuPrice}]]</div>
        <div class="four wide column">
            <div class="four wide column"></div>
            <div class="four wide column">x[[${item.num}]]</div>
            <div class="four wide column">
                <span th:if="${failSkuIds != null && #arrays.contains(failSkuIds, item.skuId)}" style="color: red">库存不足</span>
            </div>
        </div>
    </div>
    <div class="ui grid center aligned">
        <div class="eight wide column"></div>
        <div class="four wide column">
            <form action="http://order.demo.com:6100/submitOrder" method="post">
                <input type="hidden" name="payPrice" th:value="${orderConfirmData.payAmount}">
                <input type="hidden" name="orderToken" th:value="${orderConfirmData.orderToken}">
                <button class="ui button" type="submit">提交</button>
            </form>
        </div>
    </div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $("#index").click(function () {
        location.href = "http://product.demo.com:6200";
        return false;
    });
    $("#MyOrder").click(function () {
        location.href = "http://order.demo.com:6100/listOrder";
        return false;
    })


</script>
</html>